.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  gap: 30px;
}

.loginContainer form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.loginContainer input {
  width: 605px;
  height: 56px;
  border-radius: 16px;
  border: 1px solid #6a6a6a;
  padding: 17.5px 24px;
  box-sizing: border-box;
}

.login_email {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.login_email span {
  font-size: 12px;
}

.login_password {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.login_password span {
  font-size: 12px;
}

.login_password_check {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.login_password_check span {
  font-size: 12px;
}

.signup_btn {
  width: 605px;
  height: 60px;
  border-radius: 16px;
  border: none;
  background-color: #cccccc;
  color: #ffffff;
  cursor: pointer;
}
.signup_btn:hover {
  background-color: #a7a5a5;
  transition: 0.3s;
}

.password_area {
  position: relative;
}

.blank_img {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.login_password_check {
  position: relative;
}

.blank_img {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}
